          /* font import */
          
          @import url('http://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
          /* reseting css rules */
          
          * {
              margin: 0px;
              padding: 0px;
              box-sizing: border-box;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          
          .center {
              display: flex;
              flex-wrap: wrap;
              max-width: 1280px;
              margin: 0 auto;
              padding: 0 2%;
          }
          
          html,
          body {
              height: 100%;
              overflow-y: hidden;
              overflow-x: hidden;
          }
          
          header {
              height: 200px;
              padding: 20px 0;
          }
          
          .logo {
              width: 50%
          }
          
          .logo img {
              width: 78px;
          }
          
          .nav {
              width: 50%;
              text-align: right;
          }
          
          .nav a {
              color: black;
              text-decoration: none;
              font-weight: bold;
              margin-right: 15px;
          }
          
          section .about {
              height: calc(100%- 200px);
              position: relative;
          }
          
          .extras {
              position: absolute;
              bottom: -350px;
              right: -350px;
              width: 800px;
              height: 800px;
              background-color: #007755;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
          }
          
          .extras img {
              border: none;
              width: 250px;
              height: 400px;
              /* transform: rotateY(180deg);
              -webkit-transform: rotateY(180deg);
              -moz-transform: rotateY(180deg);
              -ms-transform: rotateY(180deg);
              -o-transform: rotateY(180deg); */
          }
          
          .social-media {
              position: absolute;
              right: 510px;
              top: 40px;
          }
          
          .social-media img {
              display: block;
              height: 30px;
              width: 30px;
              margin-left: 470%;
              padding: 3px;
          }
          
          .about-text {
              margin-top: 100px;
              font-size: 25px;
          }
          
          .about-text p {
              margin: 20px 0;
              color: black;
              font-size: 14px;
              font-weight: bold;
              max-width: 600px;
          }
          
          .about-text button {
              font-weight: bold;
              color: white;
              width: 150px;
              height: 40px;
              border: 0;
              background-color: #007755;
              border-radius: 25px;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              -ms-border-radius: 25px;
              -o-border-radius: 25px;
              cursor: pointer;
          }
          
          .about-text button:hover {
              transition: background, color 0.9s;
              background: black;
              color: white;
              -webkit-transition: background, color 0.9s;
              -moz-transition: background, color 0.9s;
              -ms-transition: background, color 0.9s;
              -o-transition: background, color 0.9s;
          }